{% extends "base.html" %}
{% load recommended %}

{% block script %}
<script>
    $(document).ready(function(){
        loadTweetContainer("tweet-container")
    });
</script>
{% endblock script %}

{% block content %}
    <div class='row'>
        <div class='col-sm-3 col-xs-12'>
            <h1>{{ request.user }}</h1>
            <br/>
            {% if request.user.profile.image %}
            <img class="img-rounded" src="{{ request.user.profile.image.url }}" width="240">
            {% endif %}
            <hr/>
            <h1>Recommended</h1>
            {% recommended request.user %}
        </div>

        <div class='col-sm-9'>
            {% if not request.GET.q %}
            <div class=''>
                {% include "tweets/form.html" with form=create_form action_url=create_url btn_title='Tweet' form_class='tweet-form' %}
            </div>
            {% endif %}
            <div id='tweet-container' data-url='/api/tweet/'></div>
            <a href='#' id='loadmore'>Load More</a>
        </div>
    </div>
{% endblock content %}
