{% extends "base.html" %}
{% block script %}
{% load get_token_value %}
<script>
    $(document).ready(function(){
        loadTweetContainer("tweet-container")
    });
</script>
{% endblock script %}

{% block content %}
<div class='row'>
    <div class='col-sm-3 col-xs-12'>
        <h1>{{ object.username }}</h1>
        {% if object.profile.image %}
        <img class="img-rounded" src="{{ object.profile.image.url }}" width="240">
        {% endif %}
        <p>Followers: {{ object.followed_by.all.count }}</p>
        <p>{{ user.wallet.balance }}:ETH
        <br>

        <p>所有トークン<br>
        {% for user in object.profile.have_token.all %}
            <a href="../{{ user.username }}">{{ user.username }}</a>:{{ user|get_token_value:object }}<br/>
        {% empty %}
            <p> トークンを持っていません
        {% endfor %}

        <form id='send-form' class="navbar-form navbar-left" method='POST' action='{% url "transaction:send" %}'>
            {% csrf_token %}

            <div class="form-group">
                <input class="form-control" type='hidden' name='username' value="{{ object }}"/>
                <input class="form-control" type='text' name='value' placeholder='value' value="{{ request.POST.value }}"/>
            </div>
            <input class="btn btn-default" type='submit' value='value' />
        </form>


            <a class='btn btn-link' href='{{ object.profile.get_follow_url }}'>{% if following %} UnFollow {% else %} Follow {% endif %}
            </a>
            <!-- 編集中 -->
            <a class='btn btn-link' href='{{ object.profile.get_buy_token_url }}'>BUY</a>
            <a class='btn btn-link' href='{{ object.profile.get_sell_token_url }}'>SELL</a>
            <p>{% if request.user.username == object.username %}
            <form type="submit" method="POST" name='issue' action='{% url "tokens:issue" %}'>
                {% csrf_token %}
                <input class="btn btn-default" value='発行' type="submit" />
            </form>
            {% endif %}

        </p>
        <hr/>
        <h1>Following <small>{{ object.profile.get_following.count }}</small></h1>
        {% for user in object.profile.get_following %}
            <a href='../{{ user.username }}'>{{ user.username }}</a><br/>
        {% empty %}
        <h4>Not following any  users</h4>
        {% endfor %}

        <hr/>
        <h1>Followed By</h1>
        {% for profile in object.followed_by.all %}
            <a href="../{{ profile.user.username }}">{{ profile.user.username }}</a><br/>
        {% empty %}
        <h4>Not followed by any users</h4>
        {% endfor %}

    </div>
    <div class='col-sm-9 col-xs-12'>
        <h1>Tweets</h1>

        <div id='tweet-container' data-url='/api/{{ object.username }}/tweet/'></div>
        <a href='#' id='loadmore'>Load More</a>


    </div>
</div>
{% endblock content %}
