<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script type="text/javascript">
    var ctx = document.getElementById("tradeChart");

    backgroundColor = []
    borderColor = []
    var sellList = {{sell_lists|safe}}
    var sellPrice = sellList[0]
    var sellLot = sellList[1]
    for (i = 0; i < sellPrice.length; i++) {
        backgroundColor.push('rgba(255, 99, 132, 0.2)')
        borderColor.push('rgba(255, 99, 132, 1)')
    }

    var buyList = {{buy_lists|safe}}
    var buyPrice = buyList[0]
    var buyLot = buyList[1]
    for (i = 0; i < buyPrice.length; i++) {
        backgroundColor.push('rgba(54, 162, 235, 0.2)')
        borderColor.push('rgba(54, 162, 235, 1)')
    }

    price = sellPrice.concat(buyPrice)
    lot = sellLot.concat(buyLot)
    

    var tradeChart = new Chart(ctx, {
        type: 'horizontalBar',
        data: {
            labels: price,
            datasets: [{
                // label: '# of Votes',
                data: lot,
                backgroundColor: backgroundColor,
                borderColor: borderColor,
                borderWidth: 1,
            }]
        },
        options: {
            scales: {
                xAxes: [{
                    ticks: {
                        beginAtZero:true,
                        stepSize: 1
                    },
                }],
                yAxes: [{
                    barThickness: 20,
                }],
            },
            legend: {
                display: false,
            },

        }
    });
</script>
