{% extends "base.html" %}

{% block script %}
<!-- <script>
    $(document).ready(function(){
        loadTweetContainer("tweet-container")
    });
</script> -->
{% include "tokens/_trade_chart.html" %}
{% endblock script %}

{% block content %}
<div class='row'>
    <div class='col-md-8 col-md-offset-2'>
        <h1>{{ object.username }}</h1>
        {% if object.profile.image %}
        <img class="img-rounded" src="{{ object.profile.image.url }}" width="240">
        {% endif %}
        <p>Followers: {{ object.followed_by.all.count }}</p>
        <p>{{ user.wallet.balance }}:BLOW
            <a class='btn btn-link' href='{{ object.profile.get_follow_url }}'>{% if following %} UnFollow {% else %} Follow {% endif %}
            </a>
        </p>
        <hr/>

        <!-- ソースコード参考 -->
        <div id="hint_chart">
        <table>
        <thead>
        <tr><td class="r0">買気配値</td><td class="r1">買BLO数</td><td class="r2">価格</td><td class="r3">売BLO数</td><td class="r4">売気配値</td></tr>
        </thead>
        <tbody>
            <!-- template loopで回す -->

            <!-- <tr class="sale"><td class="r0"></td><td class="r1"></td><th class="r2"><a href="購入欄に数値設定するURL">{{ price }}</a></th><td class="r3">{{ salenumber }}</td><td class="r4"><p class="bar" style="width: {{ width }}%;"></p></td></tr> -->
            {% for sell in sells %}
            <tr class="sell"><td class="r0"><p class="bar" style="width: 100%;"></p></td><td class="r1"></td><th class="r2"><a href="#">{{ sell.price }}</a></th><td class="r3">{{ sell.lot }}</td><td class="r4"></td></tr>
            {% endfor %}

            <!-- ここもtemplate loopで回す -->
            {% for buy in buys %}
            <tr class="buy"><td class="r0"><p class="bar" style="width: 100%;"></p></td><td class="r1">{{ buy.lot }}</td><th class="r2"><a href="#">{{ buy.price }}</a></th><td class="r3"></td><td class="r4"></td></tr>
            {% endfor %}
        </tbody>
        </table>
        </div>
        <hr/>
        <canvas id="tradeChart" width="400"></canvas>
        <!-- hogehogeはtokenidかな -->
        <form method="POST" action='{% url "tokens:sell" username=object.username %}'>
            {% csrf_token %}
            <div class="form-group">
                <b>売却希望数</b>
                <input class="form-control" type='hidden' name='username' value="{{ object }}"/>
                <input class="form-control" id="input_amount" name="lot" type="number" value="{{ request.POST.lot }}" placeholder='売却希望数'>
                <p>BLO</p>
            </div>  
            <div class="form-group" style="margin-top: 10px">
                <b>売却希望単価</b>
                <!-- 以下valueも変数で与える -->
                <input class="form-control" id="input_rate" name="value" type="float" value="{{ request.POST.value }}" placeholder='売却希望単価'>
                <p>ETH</p>
            </div>
                            <div class="ref_price">
                <b>参考価格</b>
                <!-- <em><span id="ref_price">{% if price %}{{price}}{% else %}-{% endif %}</span><small>JPY</small></em> -->
                <em><span id="ref_price">---</span><small>JPY</small></em>
            </div>
                <div class="go_confirmpage">
                <input class="btn btn-primary btn_go_confirm" type="submit" value="売却確認画面へ" name='sell'>
                </div>
            <div class="buy_sell_count">
                <span>本日の残り取引回数</span>
                <b>10</b>
                <small>回</small>
            </div>
         </form>
         <!-- ソースコード参考〜ここまで〜 -->
    </div>
</div>
{% endblock content %}
